@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
	padding: 0;
	margin: 0;
	font-family: arial, sans-serif;
	box-sizing: border-box;
}
.body-about {
	background-image: linear-gradient(to bottom right, #808080, rgb(0, 0, 0));
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.logo img {
	width: 120px;
}
.navbar ul {
	background-image: linear-gradient(to bottom right, #231f20, rgb(0, 0, 0));
	width: 120px;
	text-align: center;
	border-bottom-right-radius: 25px;
	margin-top: -10px;
}
.navbar ul li {
	list-style: none;
}
.navbar ul li a {
	display: inline-block;
	color: #ccc;
	text-decoration: none;
	padding: 5px;
	text-transform: uppercase;
	font-size: 0.9rem;
}
.navbar ul li a:hover{
	color: #019791;
}
.navbar ul .active a{
   color: #019791;
}
.social a{
   padding: 5px;
   text-decoration: none;
}
.social a:hover i{
	color: #019791;
	transform: scale(1.05);
}
.social a i {
	color: #777;
	font-size: 1.2rem;
}
.banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
}
.banner h5 {
	font-size: 1.8rem;
	color: #ccc;
	font-family: 'Lobster', cursive;
}
.banner h1 {
	font-size: 6rem;
	color: #eee;
	font-family: 'Staatliches', cursive;
}
.banner h1 span {
	background: rgba(1, 151, 145, 0.5);
}
.banner p {
	font-size: 1.5rem;
	color: #ccc;
	font-family: 'Lobster', cursive;
}
.about {
	max-width: 400px;
	width: 90%;
	margin: 20vh auto;
	margin-top: 30px;
	background: rgba(1, 151, 145, 0.5);
	padding: 10px;
	border-radius: 10px;
}
.about h4 {
	color: #eee;
	font-size: 2rem;
	font-family: 'Lobster', cursive;
	padding: 20px 0;
	text-align: center;
}
.about p {
	color: #eee;
	text-align: justify;
	line-height: 1.7rem;
}


/*studies*/

.body-studies {
	background-image: linear-gradient(to bottom right, #808080, rgb(0, 0, 0));
}
.work-text h4 {
	text-align: center;
	font-size: 2.5rem;
	color: #ccc;
	font-family: 'Staatliches', cursive;
}
.work-text p {
	text-align: center;
	color: #ccc;
	padding: 10px;
	font-family: 'Alternate-Gothic', cursive;
	font-size: 1.3rem;
}



/*CONTACT*/
.body-contact {
	background-image: linear-gradient(to bottom right, #808080, rgb(0, 0, 0));
}
.contact-text h4{
	text-align: center;
	font-size: 2.5rem;
	color: #ccc;
	font-family: 'Staatliches', cursive;
}
.contact-sec form {
	max-width: 500px;
	width: 90%;
	margin: 30px auto;
}
.form-control {
	margin: 15px 0;
}
.form-control label {
	color: #aaa;
	display: block;
	width: 100%;
	margin-bottom: 5px;
}
.form-control input {
	display: block;
	width: 100%;
	background: #231f20;
	outline: none;
	border: none;
	padding: 10px;
	font-size: 1.1rem;
	border-radius: 5px;
	color: #ccc;
}
.form-control textarea {
	display: block;
	width: 100%;
	background: #231f20;
	outline: none;
	border: none;
	padding: 10px;
	font-size: 1.1rem;
	border-radius: 5px;
	color: #ccc;
	resize: none;
}
.btn-holder {
	display: flex;
	justify-content: flex-end;
}


.btn-holder button {
	display: inline-block;
	border: 2px solid #019791;
	padding: 10px 15px;
	color: #fff;
	font-size: 1.1rem;
	cursor: pointer;
	background: #019791;
	border-radius: 5px;
	text-decoration: none;
	transition: background 500ms, color 500ms;
	outline: none;
}
.btn-holder button:hover {
	background: transparent;
	color: #019791;
}